@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, li{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 45px;
}
/*header*/
.header{
  background-color:#2c3e50;
  color: white;
  width: 100%;
  display: flex;
}
ul{
  padding: 0;
}
li{
  list-style: none;
  display: inline;
}
.header h1, ul, li{
  width: auto;
  height: auto;
  margin: 15px;
}


/*parte1*/
.parte1 {
  background-color: #18bc9c;
  color: white;
  text-align: center;
}
#imagem1{
  margin-top: 100px;
  margin-bottom: 30px;
}
#tituloParte1 {
  font-size: 70px;
  padding: 0px;
  margin: 0px;
}
#paragParte1 {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 80px;
}

/*portfólio*/
.portfolio{
  display: flex;
  justify-content: center;
}
.portfolio img{
  width: 28%;
  height: 28%;
  margin: 15px;
}
#tituloParte2 {
  text-align: center;
  color: #2c3e50; 
}

/*about*/
.parte3{
  background-color: #18bc9c;
  color: white;
  text-align: center;
  padding: 50px;
}
.about{
  display: flex;
  justify-content: center;
}
.about p{
  width: 25%;
  font-size: 18px;
  margin: 20px;
} 
button{
  background-color: #18bc9c;
  padding: 20px;
  border-radius: 3px;
  color: white;
  margin: 5px;
  border: 1px solid white;
}
/*contact*/
#tituloContato{
  text-align: center;
  color: #2c3e50; 
}
.contato{
  
}


/*footer*/
.footer{
  background-color:#2c3e50;
  color: white;

}
.footer-bloco{
  
}

.copyright{
  background-color: #212529;

}